.*~
bin
ConvertitoreCoordinate/classes/
ConvertitoreCoordinate/gen/
ConvertitoreCoordinate/.idea/
ConvertitoreCoordinate/*.iml
ConvertitoreCoordinateLib/classes/
ConvertitoreCoordinateLib/gen/
ConvertitoreCoordinateLib/.idea/
ConvertitoreCoordinateLib/*.iml
ConvertitoreCoordinateAds_Corea/classes/
ConvertitoreCoordinateAds_Corea/gen/
ConvertitoreCoordinateAds_Corea/.idea/
ConvertitoreCoordinateAds_Corea/*.iml
ConvertitoreCoordinateAds_Corea/classes/
ConvertitoreCoordinateAds_Corea/gen/
ConvertitoreCoordinateAds_Corea/.idea/
ConvertitoreCoordinateAds_Corea/*.iml
Thumbs.db
*/local.properties
*/private.properties
*/private/
google-play-services_lib/gen/
.gradle/
.idea/
*/build/
*.swp
*.iml
*/target/
local.properties
*/gen/
google-play-services_lib/.settings/
build/
